<lab900-example-viewer
    [extensions]="['TS']"
    filesPath="form-fields/form-field-repeater-editable"
    exampleTitle="Repeater field with add/delete"
>
    <lab900-form-field-repeater-example></lab900-form-field-repeater-example>
</lab900-example-viewer>

<lab900-example-viewer
    [extensions]="['TS']"
    filesPath="form-fields/form-field-repeater-fixed"
    exampleTitle="Repeater field with fixed amound of elements"
>
    <lab900-form-field-repeater-fixed-example></lab900-form-field-repeater-fixed-example>
</lab900-example-viewer>