<mat-card class="lab900-card">
	<mat-card-header fxLayout fxLayoutAlign="space-between center">
		<mat-card-title >
			<h3 fxFlex translate>{{ exampleTitle }}</h3>
		</mat-card-title>
		<button mat-icon-button (click)="toggleSourceView()" matTooltip="Toggle source" [disabled]="extensions.length === 0">
			<mat-icon>code</mat-icon>
		</button>
	</mat-card-header>
	<mat-card-content>
		<div class="example-source-wrapper" *ngIf="showSource">
			<mat-tab-group>
				<mat-tab *ngFor="let file of exampleFiles; trackBy: trackExampleFile" [label]="file.extension">
					<div class="lab900-pretty-print">
                        <pre><code>{{ file.data }}</code></pre>
					</div>
				</mat-tab>
			</mat-tab-group>
        </div>
        <ng-container>
            <ng-content></ng-content>
        </ng-container>
	</mat-card-content>
</mat-card>
