<mat-card class="lab900-card">
  <mat-card-header fxLayout fxLayoutAlign="space-between center">
    <mat-card-title>
      <h3 fxFlex translate>{{ exampleTitle }}</h3>
    </mat-card-title>
    <button mat-icon-button (click)="toggleSourceView()" matTooltip="Toggle source" [disabled]="extensions.length === 0">
      <mat-icon>code</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="example-source-wrapper" *ngIf="showSource && exampleName">
      <mat-tab-group>
        <mat-tab *ngFor="let ext of extensions" [label]="ext">
          <markdown
            lineNumbers
            [src]="'examples/' + (fileDir || exampleName) + '/' + exampleName + '.component.' + (ext | lowercase)"
            [start]="0"
          ></markdown>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div style="padding: 30px" #exampleComponent>
      <ng-content></ng-content>
    </div>
  </mat-card-content>
</mat-card>
