@import '~@angular/material/theming';

@mixin lab900-range-slider($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  .range-slider {
    .noUi-connect {
      background-color: mat-color($primary);
    }
    .noUiSlider .noUi-handle {
      @include mat-elevation(2);
    }
  }
}
