@import '~@angular/material/theming';

@mixin lab900-action-button-toggle($config-or-theme) {

  mat-button-toggle-group {
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      line-height: 36px;
    }
    .mat-button-toggle-appearance-standard {
      margin: 0;
      line-height: 36px;
      padding: 0 16px;
      border-radius: 4px;
    }
    .mat-button-toggle-checked, .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
      background-color: mat-color(map-get($config-or-theme, primary));
      color: mat-contrast(map-get($config-or-theme, primary), 500);
      font-weight: bold;
    }
  }
}
