@import '../assets/styles/green.palette';

.lab900-showcase {
  &__header {
    display: flex;
    align-items: center;
    background: #fff;
    z-index: 10;
    position: relative;
    padding-left: 0;

    .menu-button {
      background: $palette-lab900green-50;
      height: 64px;
      width: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;

      @media screen and (max-width: 599px) {
        height: 56px;
        width: 56px;
      }
    }

    > div {
      width: 100%;
    }

    &__logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $palette-lab900-text;

      img {
        height: 35px;
        margin-right: 15px;
        display: block;
      }

      @media screen and (max-width: 599px) {
        h1 {
          display: none;
        }
      }
    }
  }
}
