@import '../../../../../assets/styles/green.palette';

.page {
  background: #fff;
  padding: 30px;

  @media screen and (max-width: 599px) {
    padding: 15px;
  }

  ::ng-deep {
    h1 {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 0;
    }

    h2 {
      font-size: 1.4rem;
      font-weight: 500;
      margin: 30px 0 6px;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: 500;
      margin: 20px 0 6px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }

    table {
      border-collapse: collapse;
      width: 100%;

      td,
      th {
        border: 1px solid $palette-lab900green-100;
        padding: 8px;
        text-align: left;
      }

      th {
        background: $palette-lab900green-100;
      }

      a {
        color: inherit;
      }
    }
  }
}
