@import "responsiveness";

mat-dialog-content {
	min-width: 300px;
	max-height: 95vh !important;

	margin: -1*map-get($gutter, 'material') -1*map-get($gutter, 'material') 0;
	padding: map-get($gutter, 'material');

	@media screen and (max-width: map-get($breakpoints, 'large')) {

	}
}

