<div>

    <div>
        <h1>Buttons</h1>

        <div>
            <button mat-flat-button color="primary" lab900FormDialog
                    [schema]="formSchema"
                    [submitFormHandler]="submitForm">
                Open dialog form
            </button>
        </div>
        <br />
        <div>
            <button mat-flat-button color="primary" lab900FormDialog
                    [schema]="formSchema"
                    [data]="exampleData"
                    [submitFormHandler]="submitForm">
                Open dialog form with prefilled data
            </button>
        </div>
    </div>

    <div>
        <h1>Form Element</h1>
        <div>
            <lab900-form-container
                    [schema]="formSchema"
                    [data]="exampleData">
            </lab900-form-container>
        </div>
    </div>
</div>

