<div>

  <div>
    <mat-form-field>
      <mat-label>{{ 'language' | translate }}</mat-label>
      <mat-select (valueChange)="languageChanged($event)" [(value)]="language">
        <mat-option *ngFor="let lang of languages" [value]="lang">
          {{ 'languages.' + lang | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <div>
        <h1>{{ 'content.buttons' | translate }}</h1>

        <div>
            <button mat-flat-button color="primary" lab900FormDialog
                    [schema]="formSchema"
                    [submitFormHandler]="submitForm">
                {{ 'label.open-dialog-form' | translate }}
            </button>
        </div>
        <br />
        <div>
            <button mat-flat-button color="primary" lab900FormDialog
                    [schema]="formSchema"
                    [data]="exampleData"
                    [submitFormHandler]="submitForm">
                {{ 'label.open-dialog-form-prefilled' | translate }}
            </button>
        </div>
    </div>

    <div>
        <h1>{{ 'content.form-element' | translate }}</h1>
        <div>
            <lab900-form-container
                    [schema]="formSchema"
                    [data]="exampleData">
            </lab900-form-container>
        </div>
        <h1>Form Element - 2 columns</h1>
        <div>
            <lab900-form-container
                    [schema]="formSchema2Columns"
                    [data]="exampleData">
            </lab900-form-container>
        </div>
        <h1>Form Element - 3 columns</h1>
        <div>
            <lab900-form-container
                    [schema]="formSchema3Columns"
                    [data]="exampleData">
            </lab900-form-container>
        </div>
    </div>


</div>

