<div class="showcase-nav">
    <div *ngFor="let section of sections" class="showcase-nav-group">
        <span mat-list-item>{{ section.title }} </span>
        <mat-nav-list>
            <ng-container *ngFor="let item of section.children">
                <a mat-list-item (click)="onItemSelected(item)" [ngClass]="{'active': item.route ? router.isActive(item.route, true) : false, 'expanded': item.expanded}">{{ item.title }}</a>
                <div *ngIf="item?.children && item.expanded">
                    <a mat-list-item class="mat-list-item-child" *ngFor="let child of item.children" (click)="onItemSelected(child)" [ngClass]="{'active': child.route ? router.isActive(child.route, true) : false, 'expanded': child.expanded}">{{ child.title }}</a>
                </div>
            </ng-container>
        </mat-nav-list>
    </div>

</div>